{% extends 'dashboard/base_dashboard.html' %}

{% block content %}

<div class="dashboard-card">

<div class="d-flex justify-content-between mb-4">

<h2>

Contact Information

</h2>

<a
href="{% url 'add_contact' %}"
class="btn btn-warning">

Add Contact

</a>

</div>


<div class="table-responsive">

<table class="table">

<thead>

<tr>

<th>Email</th>
<th>Phone</th>
<th>Actions</th>

</tr>

</thead>

<tbody>

{% for contact in contacts %}

<tr>

<td>

{{contact.email}}

</td>

<td>

{{contact.phone}}

</td>

<td>

<a
href="{% url 'edit_contact' contact.id %}"
class="btn btn-primary btn-sm">

Edit

</a>

<a
href="{% url 'delete_contact' contact.id %}"
class="btn btn-danger btn-sm">

Delete

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

{% endblock %}