<footer class="bg-dark text-white pt-5 pb-3">

<div class="container">

<div class="row">


<div class="col-md-4 mb-4">

<h4 class="fw-bold">

Catering Platform

</h4>

<p>

Premium multi-brand catering services for weddings, corporate events, birthdays, private events, and special occasions.

</p>

</div>



<div class="col-md-2 mb-4">

<h5>

Quick Links

</h5>

<ul class="list-unstyled">

<li>

<a href="/"
class="text-white text-decoration-none">

Home

</a>

</li>

<li>

<a href="/brands/"
class="text-white text-decoration-none">

Brands

</a>

</li>

<li>

<a href="/gallery/"
class="text-white text-decoration-none">

Gallery

</a>

</li>

<li>

<a href="/request-quote/"
class="text-white text-decoration-none">

Request Quote

</a>

</li>

</ul>

</div>



<div class="col-md-3 mb-4">

<h5>

Our Brands

</h5>

<ul class="list-unstyled">

<li>Joe's Italian</li>

<li>Vira's Indian Kitchen</li>

<li>Flavors Indian Lounge</li>

<li>Namaste Indian Kitchen</li>

<li>Jai Indian Kitchen</li>

<li>Kwality Ice Cream & Grill</li>

<li>Nawabi Hyderabad House</li>

</ul>

</div>



<div class="col-md-3 mb-4">

<h5>

Contact Info

</h5>

<p>

📧 info@cateringplatform.com

</p>

<p>

📞 +1 XXX-XXX-XXXX

</p>

<p>

📍 Arkansas, USA

</p>

</div>

</div>


<hr>

<div class="text-center">

<p class="mb-0">

© 2026 Catering Platform | All Rights Reserved

</p>

</div>

</div>

</footer>