{% extends 'dashboard/base_dashboard.html' %}

{% block content %}

<h2 class="fw-bold mb-4">

Inquiry Management

</h2>

<div class="card p-4 border-0 shadow-sm">

<form method="GET">

<div class="row">

<div class="col-md-6">

<input
type="text"
name="search"
class="form-control"
placeholder="Search customer">

</div>

<div class="col-md-4">

<select
name="status"
class="form-select">

<option value="">All Status</option>

<option>New</option>
<option>Pending</option>
<option>Contacted</option>
<option>Confirmed</option>

</select>

</div>

<div class="col-md-2">

<button class="btn btn-warning w-100">

Search

</button>

</div>

</div>

</form>

</div>

<div class="card border-0 shadow-sm mt-4">

<div class="table-responsive">

<table class="table">

<thead>

<tr>

<th>Name</th>
<th>Event</th>
<th>Guests</th>
<th>Status</th>

</tr>

</thead>

<tbody>

{% for inquiry in inquiries %}

<tr>

<td>{{inquiry.full_name}}</td>

<td>{{inquiry.event_type}}</td>

<td>{{inquiry.guests}}</td>

<td>{{inquiry.status}}</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

{% endblock %}