{% extends 'base.html' %}

{% block content %}

<section class="py-5">

<div class="container">

<h1 class="text-center fw-bold mb-5">

Catering We Provide

</h1>

<div class="row">

{% for event in events %}

<div class="col-md-4 mb-4">

<div class="card shadow border-0 h-100">

<img
src="{{event.image.url}}"
class="card-img-top"
style="height:250px;object-fit:cover;">

<div class="card-body">

<h4>

{{event.title}}

</h4>

<p>

{{event.description|truncatewords:15}}

</p>

<a
href="{% url 'event_detail' event.id %}"
class="btn btn-warning">

View Details

</a>

</div>

</div>

</div>

{% endfor %}

</div>

</div>

</section>

{% endblock %}